// media queries
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";

// colors
$gold: rgba(232, 175, 16, 1);
$goldGlass: rgba(232, 175, 16, .9);

$heading: 'Josefin Slab', serif;
$bodyText: 'Open Sans', sans-serif;


#contact {
  background-image: url('../images/background5.jpeg');

  .sectionContainer {
    .colorBlock {
      background-color: $goldGlass;
    }
  }
}
