// media queries
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";

// colors
$darkPurple: rgba(88, 62, 107, 1);
$lightPurple: rgba(132, 116, 141, 1);

#home {
  display: flex;
  justify-content: center;
  align-items: center;

  .sectionContainer {
    justify-content: center;

    .socialIcons {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .picClear {
        width: 100%;
        margin-bottom: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .profilePic {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60vmin;
          height: 60vmin;
          border-radius: 100vmax;
          overflow: hidden;
          border: 2px solid $darkPurple;


          img {
            height: 100%;
            border-radius: 100%;
            object-fit: contain;
          }
        }
      }

      @media #{$tablet} {
        .picClear{
          .profilePic {
            width: 40vmin;
            height: 40vmin;
          }
        }
      }

      @media #{$desktop} {
        .picClear {
          width: auto;
          margin-bottom: auto;
          order: 3;

          .profilePic {
            width: 40vmin;
            height: 40vmin;
            border: 3px solid $darkPurple;
          }
        }
      }

      a {
        display: inline-block;
        height: 8vmin;
        width: 8vmin;
        border-radius: 100%;
        position: relative;
        margin: 2vmin;
        opacity: .6;
        transition: .25s ease-in-out;

        img {
          height: 100%;
          object-fit: contain;
        }
      }

      a:hover {
        opacity: 1;
      }

      a:first-child {
        order: 1;
      }

      a:nth-child(2) {
        order: 2;
      }

      a:nth-child(3) {
        order: 4;
      }

      a:last-child {
        order: 5;
      }
    }
  }
}
