// media queries
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";

// colors
$wood: rgba(74, 56, 43, 1);
$woodGlass: rgba(74, 56, 43, .9);

$heading: 'Josefin Slab', serif;
$bodyText: 'Open Sans', sans-serif;

#portfolio {
  background-image: url('../images/background3.jpeg');

  .sectionContainer {
    justify-content: flex-end;

    .colorBlock {
      background-color: $woodGlass;
      padding-left: 0;
      padding-right: 0;

      .portfolioItem {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 80vw;
        margin-left: -40vw;

        .samples {
          width: 40vw;
          padding: 2vw;
          box-sizing: border-box;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .sampleMobile_v {
            background-image: url(../images/portfolio/phone_v.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 20vmin;
            height: 40vmin;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
              object-fit: contain;
              height: 90%;
              width: 90%;
            }
          }

          .sampleTablet_v {
            background-image: url(../images/portfolio/tablet_v.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 30vmin;
            height: 41.6vmin;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
              object-fit: contain;
              height: 90%;
              width: 90%;
            }
          }

          .sampleTablet_h {
            width: 100%;

            img {
              object-fit: contain;
              width: 100%;
            }
          }

          .sampleDesktop {
            background-image: url(../images/portfolio/laptop.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 63vmin;
            height: 40vmin;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
              margin-top: -10%;
              object-fit: contain;
              height: 75%;
              width: 75%;
            }
          }

          .sampleSet {
            width: 40vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .sampleMobile_v {
              position: absolute;
              width: 20%;
              height: 20%;
              margin-left: 5%;
              align-self: flex-end;
              margin-top: -1%;

              img {
                width: 79%;
                height: 79%
              }
            }

            .sampleTablet_v {
              position: absolute;
              width: 30%;
              height: 30%;
              margin-left: 10%;
              align-self: flex-end;
              margin-top: -1%;

              img {
                width: 85%;
                height: 85%
              }
            }
          }
        }

        .textBlock {
          padding: 2vw;
          box-sizing: border-box;
          width: 40vw;
          font-family: $heading;

          h3 {
            text-align: left;
            margin: 0 0 .75vh 0;
          }

          a {
            font-weight: 300;
            color: rgba(255, 255, 255, 0.6);
            font-size: 1em;
            text-transform: uppercase;
            margin: 1vh 0 1vh 0;
            display: block;
          }

          a:hover {
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      hr {
        width: 60%;
        border: 1px solid rgba(0, 0, 0, .1);
      }
    }
  }
}
